.container{
	position:relative;
	top:14em;
	left:28%;
	width:600px;
	text-align:center;
}
.buttons{
	position:relative;
	top:14em;
	left:42%;
}
button{
	border-radius:4px;
	height:2em;
	vertical-align:middle;
	cursor:pointer;
}
a{
	text-decoration:none;
	color:black;
}
#addData{
	position:relative;
	left:-3em;
}
#viewData{
	position:relative;
	left:-3em;
}
#advTask{
	position:relative;
	left:-3em;
}